<div class="panel panel-flat">
	<div class="panel-body">
		<div class="mb-20">
			<div class="input-group col-lg-2 pull-right">
				<input type="text" class="form-control" placeholder=" ">
				<span class="input-group-btn">
					<button class="btn bg-teal" type="button">搜索</button>
				</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><input type="checkbox" name="" value=""></th>
					<th>ID</th>
					<th>终端ID</th>
					<th>上传时间</th>
					<th>日志路径</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" name="" value=""></td>
					<td>1</td>
					<td>204043243</td>
					<td>2016-01-20</td>
					<td>/var/log/121231.log</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="" value=""></td>
					<td>2</td>
					<td>204043243</td>
					<td>2016-01-20</td>
					<td>/var/log/121231.log</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="" value=""></td>
					<td>3</td>
					<td>204043243</td>
					<td>2016-01-20</td>
					<td>/var/log/121231.log</td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<div class="text-right mt-20">
			<ul class="pagination">
				<li><a href="#">&lsaquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li class="disabled"><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&rsaquo;</a></li>
			</ul>
		</div>
	</div>
</div>