.navbar-brand + .navbar-brand{
	padding: 12px 0px;
}

.has-sub ul{
	display: none;
}
.has-sub.active.open ul{
	display: block;
}

/**
 * fancy tree 
 */

ul.fancytree-container{
	border: none!important;
}

ul.fancytree-container:focus{
	outline: none;
}
span.fancytree-title {
    line-height: 16px;
}

.fancytree-has-children.fancytree-ico-cf span.fancytree-icon, .fancytree-ico-ef span.fancytree-icon{
	background: none;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 14px;
	color: #adad9c;
	margin-left: 4px;
}

.fancytree-has-children.fancytree-ico-cf span.fancytree-icon:before{
    content: "\f114";
}

 .fancytree-ico-ef span.fancytree-icon:before{
    content: "\f115";
 }
