<div class="row">
    <div class="col-lg-4">
        <div class="col-lg-4 mb-20">
            <button class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-git-branch"></i> <span>添加用户</span></button>
        </div>
        <div class="col-lg-4 mb-20">
            <button class="btn bg-purple-300 btn-block btn-float btn-float-lg" type="button"><i class="icon-user"></i> <span>添加管理员</span></button>
        </div>
        <div class="col-lg-4 mb-20">
            <button class="btn bg-grey-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>添加广告主</span></button>
        </div>
        <div class="col-lg-4 mb-20">
            <button class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>添加场景</span></button>
        </div>
        <div class="col-lg-4 mb-20">
            <button class="btn bg-blue-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>添加节目</span></button>
        </div>
         <div class="col-lg-4 mb-20">
            <button class="btn bg-orange-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>添加设备</span></button>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="col-lg-4">
            <!-- Members online -->
            <div class="panel bg-teal-400">
                <div class="panel-body">
                    <div class="heading-elements">
                        <span class="heading-text badge bg-teal-800">+53,6%</span>
                    </div>
                    <h3 class="no-margin">3,450</h3> 总用户数
                    <div class="text-muted text-size-small">489 avg</div>
                    <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
                <div class="container-fluid">
                    <div id="members-online">
                        
                    </div>
                </div>
            </div>
            <!-- /members online -->
        </div>
        <div class="col-lg-4">
            <!-- Members online -->
            <div class="panel bg-blue-400">
                <div class="panel-body">
                    <div class="heading-elements">
                        <span class="heading-text badge bg-blue-800">+53,6%</span>
                    </div>
                    <h3 class="no-margin">3,450</h3> 总终端数
                    <div class="text-muted text-size-small">489 avg</div>
                    <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
                <div class="container-fluid">
                    <div id="members-online">
                        
                    </div>
                </div>
            </div>
            <!-- /members online -->
        </div>
        <div class="col-lg-4">
            <!-- Members online -->
            <div class="panel bg-pink-400">
                <div class="panel-body">
                    <div class="heading-elements">
                        <span class="heading-text badge bg-pink-800">+53,6%</span>
                    </div>
                    <h3 class="no-margin">3,450</h3> 广告主
                    <div class="text-muted text-size-small">489 avg</div>
                    <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
                <div class="container-fluid">
                    <div id="members-online">
                        
                    </div>
                </div>
            </div>
            <!-- /members online -->
        </div>
    </div>
</div>
