<div class="row">
	<div class="col-md-12 col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h6 class="panel-title">场景分类</h6>
				<div class="heading-elements">
					<ul class="icons-list">
						<li>
							<a href=""><i class="fa fa-plus"></i></a>
						</li>
					</ul>
				</div>
				<a class="heading-elements-toggle"><i class="icon-menu"></i></a>
			</div>

            <div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
				    <li ng-class="{active : vm.category == $index}" ng-repeat="row in ['一', '二', '三', '四', '五']">
				    	<a href="" data-toggle="tab" aria-expanded="false" ng-click="vm.category = $index">场景分类{{row}}</a>
				    </li>
				</ul>

				<div class="text-center">
					<ul class="pagination-sm twbs-default pagination">
					    <li class="prev"><a href="javascript:void(0);">前一页</a></li>
					    <li class="page active"><a href="javascript:void(0);">1</a></li>
					    <li class="page"><a href="javascript:void(0);">2</a></li>
					    <li class="page"><a href="javascript:void(0);">3</a></li>
					    <li class="page"><a href="javascript:void(0);">4</a></li>
					    <li class="next"><a href="javascript:void(0);">后一页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title">分类列表</h6>
				<div class="heading-elements">
				<button type="button" class="btn btn-primary heading-btn btn-xs">导出选中</button>
				</div>
				<a class="heading-elements-toggle"><i class="icon-menu"></i></a>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>	
							<th>
								<label>
									<div class="checker">
										<span class=""><input type="checkbox" class="styled" checked="checked"></span></div>
								</label>
							</th>
							<th>序号</th>
							<th>名称</th>
							<th>创建时间</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in vm.scenes">
							<td>
								<label>
									<div class="checker">
										<span class=""><input type="checkbox" class="styled" checked="checked"></span></div>
								</label>
							</td>
							<td ng-bind="$index+1"></td>
							<td>{{row.title}}</td>
							<td>{{row.created_at}}</td>
							<td class="text-center">
								<a href="" title="" class="mr-10">预览 <i class="fa fa-eye"></i> </a>
								<a href="" title="" class="mr-10">编辑 <i class="fa fa-edit"></i> </a>
								<a href="" title="">删除 <i class="fa fa-remove"></i> </a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="text-right mt-20">
					<ul class="pagination-sm twbs-default pagination">
					    <li class="prev"><a href="javascript:void(0);">前一页</a></li>
					    <li class="page active"><a href="javascript:void(0);">1</a></li>
					    <li class="page"><a href="javascript:void(0);">2</a></li>
					    <li class="page"><a href="javascript:void(0);">3</a></li>
					    <li class="page"><a href="javascript:void(0);">4</a></li>
					    <li class="next"><a href="javascript:void(0);">后一页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
