<div class="panel panel-flat">
	<div class="panel-body">
		<div class="mb-20">
			<a href="" title="" class="btn btn-primary"><i class="icon-user-plus"></i> 新增管理员</a>
			<a href="" title="" class="btn btn-danger"><i class="icon-user-minus"></i> 批量删除</a>

			<div class="pull-right">
				<input type="text" name="" class="form-control" placeholder="">
				<button type="button" class="btn btn-primary">搜索</button>
			</div>	
		</div>
		<table class="table table-bordered table-xs">
			<thead>
				<tr>
					<th><input type="checkbox" name="" value=""></th>
					<th>ID</th>
					<th>帐号</th>
					<th>手机</th>
					<th>邮箱</th>
					<th>姓名</th>
					<th>消费总金额</th>
					<th>推广广告主总数</th>
					<th>推广终端总数</th>
					<th>场景总数</th>
					<th>推广普通用户数</th>
					<th>播放总时长</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" name="" value=""></td>
					<td>200232</td>
					<td>test</td>
					<td>153203300</td>
					<td>123123@qq.com</td>
					<td>姓名</td>
					<td>消费总金额</td>
					<td>推广广告主总数</td>
					<td>推广终端总数</td>
					<td>场景总数</td>
					<td>推广普通用户数</td>
					<td>播放总时长</td>
					<td>2010-01-12</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="" value=""></td>
					<td>200232</td>
					<td>test</td>
					<td>153203300</td>
					<td>123123@qq.com</td>
					<td>姓名</td>
					<td>10000</td>
					<td>121</td>
					<td>推广终端总数</td>
					<td>场景总数</td>
					<td>推广普通用户数</td>
					<td>播放总时长</td>
					<td>2010-01-12</td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<div class="text-right mt-20">
			<ul class="pagination">
				<li><a href="#">&lsaquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li class="disabled"><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&rsaquo;</a></li>
			</ul>
		</div>
	</div>
</div>